body {
  background-color: #f2f0f0;
  overflow-x: hidden;
  font-family: 'K2D', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #dff2e4;
  background-color: #24324a;
}

.brand_title {
  font-size: 1.4rem;
  margin: 0.5rem;
}

.navbar_links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar_links li {
  list-style: none;
}

.navbar_links li a {
  text-decoration: none;
  color: #dff2e4;
  padding: 1rem;
  padding-right: 1.5rem;
}

.toggle_button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle_button .bar {
  height: 3px;
  width: 100%;
  background-color: #dff2e4;
  border-radius: 10px;
}

.colored {
  background-color: #dc3545;
}

.create_btn {
  border-radius: 3%;
  height: 3.5rem;
  width: 11rem;
  border: none;
  background-color: #dc3545;
  color: #dff2e4;
}

.create_change_btn {
  background-color: #24324a;
}

header {
  height: 100vh;
  width: 98.7vw;
  background-image: url(../images/house.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.99;
  color: #dff2e4;
}

.buy_rent {
  border-radius: 3%;
  height: 3rem;
  width: 10rem;
  border: none;
  background-color: #dc3545;
  color: #dff2e4;
}

.buy_rent:hover {
  background-color: #dc3545;
  color: #dff2e4;
}

.buy_rent2 {
  border-radius: 3%;
  height: 3rem;
  width: 10rem;
  border: none;
  background-color: #dc3545;
  color: #dff2e4;
}

.buy_rent2:hover {
  background-color: #dc3545;
}

.colored_btn {
  background-color: #dff2e4;
  color: #dc3545;
}

.welcome_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: flex-end;
}

.my_card {
  color: black;
  margin-top: 2%;
  height: 25%;
  width: 80%;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my_card_change {
  transition: 1.5s ease 0.3s;
  opacity: 1;
  pointer-events: all;
}

#card-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.feature_main {
  display: flex;
  padding-top: 4%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature_box {
  display: grid;
  padding-top: 5%;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.properties {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.picturebox {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50% 50%;
  padding: 3rem;
}

.choice {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pluses {
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 5%;
  background-color: #212529;
}

.carousel_slide {
  display: flex;
}

.carousel_slide img {
  width: 50%;
}

.logos {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}

.red {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #24324a;
}

.remaining {
  padding: 5%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #b3b1ab;
}

.footer_bottom {
  background-color: #1d293e;
  height: 110px;
  display: flex;
  align-items: center;
}

.social_media h5 {
  padding: 3px;
}

@media only screen and (max-width: 1200px) {
  .toggle_button {
    display: flex;
  }
  .brand_title {
    padding-left: 1.7%;
    padding-bottom: 1%;
  }
  .navbar_links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar_links ul {
    flex-direction: column;
  }
  .navbar_links.active {
    display: flex;
  }
  .navbar_links li a {
    text-decoration: none;
    color: #dff2e4;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .welcome_part {
    margin-top: 5rem;
    height: 95vh;
  }
  .my_card {
    margin-top: 3rem;
    height: 50%;
    width: 70%;
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
  .feature_box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.2rem;
  }
  .properties {
    padding-top: 1%;
  }
  .picturebox {
    grid-template-columns: 1fr;
  }
  .pluses {
    padding-top: 3%;
    display: grid;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .testimonials {
    display: none;
  }
  .carousel_container {
    display: none;
  }
  .buttons {
    display: none;
  }
  .logos {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .logos img {
    padding-top: 30%;
  }
  .remaining {
    grid-template-columns: 1fr 1fr;
    padding: 8%;
  }
  .follow_us {
    padding-top: 10%;
  }
}
