* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

i,
svg {
    pointer-events: none;
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.kick_pad,
.snare_pad,
.hihat_pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick_pad {
    background-color: #203db0;
}

.snare_pad {
    background-color: #a60c16;
}

.hihat_pad {
    background-color: #a14e1f;
}


.pad {
    transition: all 0.5s ease;
}


.kick_pad.active {
    background-color: #0a2488;
}

.snare_pad.active {
    background-color: #92060f;
}

.hihat_pad.active {
    background-color: #7c360d;
}

.kick_track,
.snare_track,
.hihat_track {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.kick,
.snare,
.hihat {
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.mute {
    padding: 0.9rem;
    border: none;
    background-color: #cccfc8;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.mute2 {
    background-color: #535352;
}

.active {
    background-color: #6c7068;
}

.choose {
    width: 5rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
}

.cancel_choose {
    background-color: rgb(88, 86, 86);
}

.tempo {
    margin: 3rem;
    width: 30%;
}

.tempo_slider {
    padding: 1rem;
    width: 100%;
}

.tempo p {
    text-align: center;
    font-size: 1.4rem;
}


select {
    padding: 0.8rem;
    font-size: 1rem;
}




.play {
    padding: 1rem 3rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: white;
    background-color: #2dbd54;
    border: none;
    cursor: pointer;
}

.stop {
    background-color: #92060f;
}




@keyframes playTrack {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }

}



@media only screen and (max-width: 600px) {

    .kick_track,
    .snare_track,
    .hihat_track {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        justify-content: space-between;
        margin-top: 2.5rem;
    }

    .kick,
    .snare,
    .hihat {
        display: flex;
        width: 70%;
    }

    .controls {
        display: block;
    }

}