* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #3f5b63;
  font-family: 'Londrina Solid', cursive;
}

.opening {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #db7425;
  color: white;
  transition: 0.6s ease;
}

.opening h2 {
  font-size: 2rem;
}

.opening:hover {
  color: #db7425;
  background: white;
}

.let_us_play {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.let_us_play h2 {
  cursor: pointer;
  color: #db7425;
  font-size: 3rem;
}

.disappear {
  opacity: 0;
  pointer-events: none;
  transition: 1s ease;
}

.game_box {
  height: 40vh;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
}

.game_box .score {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1.5rem;
}

.game_box .score .player_score h1 {
  background: #db7425;
  padding: 0.5rem;
  color: white;
  border: 2px solid black;
}

.game_box .score .player_score h2 {
  text-align: center;
  padding-top: 0.5rem;
  background: #db7425;
  color: white;
  border: 2px solid black;
}

.game_box .score .computer_score h1 {
  background: brown;
  padding: 0.5rem;
  color: white;
  border: 2px solid black;
}

.game_box .score .computer_score h2 {
  text-align: center;
  padding-top: 0.5rem;
  background: brown;
  color: white;
  border: 2px solid black;
}

.game_box .play {
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
}

.game_box .play .player_hand img {
  height: 7rem;
  border-radius: 4px;
  border: 2px solid #db7425;
}

.game_box .play .player_hand img:hover {
  transform: scale(0.9);
}

.game_box .play h2 {
  color: #db7425;
  font-size: 3rem;
}

.game_box .play .computer_hand img {
  height: 7rem;
  border-radius: 4px;
  border: 2px solid brown;
  transform: rotateY(180deg);
}

.game_box .choose {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

.game_box .choose button {
  margin-left: 1rem;
  height: 2.5rem;
  width: 8rem;
  border-radius: 3px;
  background: #2ba327;
  color: white;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}

.game_box .choose button:hover {
  color: #2ba327;
  background: white;
}

.emerge {
  opacity: 1;
  pointer-events: all;
  transition: 2s all ease;
}
